<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<body>
<div class="container">
    <form th:action="@{/boards/update/{id}(id=${boardUpdate.id})}" method="post">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" th:value="${boardUpdate.title}">
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <!--            <input type="text" id="content" name="content" placeholder="내용을 입력하세요">-->
            <textarea th:text="${boardUpdate.content}" id="content" name="content" placeholder="내용을 입력하세요" rows="4" cols="50"></textarea>
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>